{% do _view.assign('title', 'Home') %}

{{ helper_html_css('home') }}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h3>Login Here</h3>
    <label for="username">Name</label>
    <input type="text" placeholder="Name" id="username">
    
    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <button>Log In</button>
</form>

