{#
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
#}

{% if params['escape'] is not defined or params['escape'] != false %}
    {% set message = message|escape %}
{% endif %}

<div class="message success" onclick="this.classList.add('hidden')">
    <p>{{ message }}</p>
</div>
