{% do _view.assign('title', 'Login') %}

{{ helper_html_css('login') }}

{#{ helper_Form_control('email') }}
{{ helper_Form_control('password') }#} 

    <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
    </div>
    <div class="form">
    <h3>Login Here</h3>
    {{ helper_Form_create() }}

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">

    <button class="button" type="submit">Login</button>
    {{ helper_Form_end() }}
    </div>